<Context>
    <Resource name="jdbc/reporte" auth="Container" type="javax.sql.DataSource"
              maxActive="100" maxIdle="30" maxWait="10000"
              username="bs-vicentin" password="vicentin" driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://190.106.132.175:3306/produccion?zeroDateTimeBehavior=convertToNull" />

</Context>
